.Footer {
  padding: 10px;
  background-color: #ffffff95;
  backdrop-filter: blur(15px);
  border-top: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 770px) {
  .Footer a {
    font-size: 0.75rem;
  }
}