.Footer {
  padding: 10px;
  background-color: #ffffff95;
  backdrop-filter: blur(15px);
  border-top: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
