.Footer {
  padding: 10px;
  background-color: #ffffff95;
  backdrop-filter: blur(15px);
  border-top: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.Footer .plink {
  margin-bottom: 0;
}

.Footer .plink:empty {
  margin: 0;
}

.Footer .plink a {
  display: block;
}